@import "tailwindcss";

@font-face {
  font-family: 'TwitterChirp';
  src: url("/fonts/Chirp Regular.woff") format("woff");
    font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('/fonts/Chirp Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@theme {

  --color-twitterBorder: #4C5159;
  --color-twitterHover: #16181c;

  --color-twitterText: #f7f9f9;
  --color-twitterTextAlt: #8b98a5;

  --color-backgroundBlack: #000000;
  --color-backgroundDim: #15202c;

  --color-twitterBlue: #1C9BF0;
  --color-twitterRed: #ff2c84;
  --color-twitterYellow: #ffd404;
  --color-twitterPurple: #8054fc;
  --color-twitterGreen: #00ba7c;
  --color-twitterBlack: #000000;

  --background-main: var(--twitterBlack);
  --color-main: var(--color-twitterRed);

  --font-twitter: TwitterChirp;
}

html, body {
  overscroll-behavior: contain;
  font-family: TwitterChirp;
}