@import "tailwindcss";

@font-face {
  font-family: "TwitterChirp";
  src: url("/fonts/Chirp Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("/fonts/Chirp Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  .scrollbar-blue {
    scrollbar-width: thin;
    scrollbar-color: var(--color-main) transparent;
  }

  .scrollbar-blue::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 4px;
  }

  .scrollbar-blue::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-twitterBorder: #4c5159;
  --color-twitterHover: #16181c;

  --color-twitterText: #f7f9f9;
  --color-twitterTextAlt: #8b98a5;

  --color-backgroundBlack: #000000;
  --color-backgroundDim: #15202c;

  --color-twitterBlue: #1c9bf0;
  --color-twitterRed: #ff2c84;
  --color-twitterYellow: #ffd404;
  --color-twitterPurple: #8054fc;
  --color-twitterGreen: #00ba7c;
  --color-twitterBlack: #000000;
  --background-main: var(--color-backgroundBlack);
  --color-main: var(--color-twitterBlue);

  --font-twitter: TwitterChirp;

  --animate-hover-card: fade-in 0.2s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100dvw;
  overscroll-behavior: contain;
  font-family: TwitterChirp;
}
