@import "tailwindcss";

@theme {
    --twitter-blue: #1C9BF0;
    --twitter-border: #4C5159;
    --twitter-text: #8b98a5;
    --twitter-hover: #16181c;
    --dim-background: #15202c;
    --twitter-black: #000000;
    --twitter-red: #ff2c84;
    --twitter-yellow: #ffd404;
    --twitter-purple: #8054fc;
    --twitter-green: #00ba7c;
    --background-main: var(--twitter-black);
    --color-main: var(--twitter-red);
    --text-main: #f7f9f9;
  }

  html, body {
  overscroll-behavior: contain;
}